<section class="container-fluid bg-light pt-3 pb-3 mt-5">
    <section class="container">
        <div class="row">
            <div class="col">
                <a class="navbar-brand" routerLink="">
                    <img src="../../../assets/images/logo.69d78f5.png" alt="logo" class="logo">   
                </a>
            </div>
            <div class="col">
                <nav> 
                    <ul class="float-end d-flex">
                        <li class="nav-item">
                            <a class="nav-link active text-muted" aria-current="page" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">ზოგადი სტატისტიკა</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-muted" routerLink="country-statistic" routerLinkActive="active">ქვეყნის ინფორმაცია</a>
                        </li>
                    </ul>
                </nav>
            </div>
            
        </div>
        
    </section>
</section>
